<!DOCTYPE html>
html(lang="en")
    head
        include layout/meta
        include layout/links
        title Document
    body
        include compenants/header
        include compenants/navMenu
        include compenants/home
        include compenants/about








        include layout/scripts
