section.aboutSection
    .container
        .row.sectionTitle
                h2(data-heading="main info") about me
        .row.spaceBetween   
            .aboutImg.innerShadow
                img(src="img/profile-pic.png", alt="").outerShadow
            .aboutInfo
                p
                    span Hi! my name is abdelkrim, i'm a web developer & designer.
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fugit dolorem molestias et quod quia consequuntur repudiandae eum ipsum, delectus blanditiis eveniet aliquam. Mollitia explicabo libero iure, tempore sequi necessitatibus?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam voluptatum sequi repudiandae, impedit eaque accusamus rerum aliquam?  praesentium molestias.
                a(href="#").outerShadow.hoverShadow.btn-1 download cv
                a(href="#").outerShadow.hoverShadow.btn-1 hire me
            
            .socialMedia
                a(href="#").i.fab.fa-facebook-f.outerShadow.hoverShadow
                a(href="#").i.fab.fa-twitter.outerShadow.hoverShadow
                a(href="#").i.fab.fa-instagram.outerShadow.hoverShadow
                a(href="#").i.fab.fa-linkedin-in.outerShadow.hoverShadow
                a(href="#").i.fab.fa-youtube.outerShadow.hoverShadow
        .row
            .aboutTabs
                .tabLabel.active.outerShadow(data-skill = ".skills") skills
                .tabLabel(data-skill = ".experiences") experiences
                .tabLabel(data-skill = ".education") education
        .row.skillContent.skills.aboutContent.active
            .skillBox
                p javaScript , jquery
                .skillBar.innerShadow
                    .skillProgress(style = "width:calc(56% - 14px)")
                        span 56%
            .skillBox
                p  php , laravel
                .skillBar.innerShadow
                    .skillProgress(style = "width:calc(70% - 14px)")
                        span 70%
            .skillBox
                p bootstrap
                .skillBar.innerShadow
                    .skillProgress(style = "width:calc(90% - 14px)")
                        span 90%
            .skillBox
                p vue js
                .skillBar.innerShadow
                    .skillProgress(style = "width:calc(65% - 14px)")
                        span 65%
            .skillBox
                p python
                .skillBar.innerShadow
                    .skillProgress(style = "width:calc(40% - 14px)")
                        span 40%
            .skillBox
                p css , sass 
                .skillBar.innerShadow
                    .skillProgress(style = "width:calc(85% - 14px)")
                        span 85%
                        
        .row.timeLine.experiences.aboutContent
            .timeLineBox
                .timeLineContent.outerShadow
                    i.fas.fa-briefcase.icon
                    span sep, 2018 - present
                    h3 full stack developer
                    h4 company name, morocco
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sit, fugiat quae dicta minima.
            .timeLineBox
                .timeLineContent.outerShadow
                    i.fas.fa-briefcase.icon
                    span august , 2017 - may , 2018
                    h3 full stack developer
                    h4 company name, morocco
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sit, fugiat quae dicta minima.
            .timeLineBox
                .timeLineContent.outerShadow
                    i.fas.fa-briefcase.icon
                    span april, 2015 - june , 2017
                    h3 web developper
                    h4 company name, morocco
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sit, fugiat quae dicta minima.
                                        
            .timeLineBox
                .timeLineContent.outerShadow
                    i.fas.fa-briefcase.icon
                    span april, 2013 - march, 2015
                    h3 web designer
                    h4 company name, morocco
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sit, fugiat quae dicta minima.
                    

        .row.timeLine.education.aboutContent
            .timeLineBox
                .timeLineContent.outerShadow
                    i.fas.fa-graduation-cap.icon
                    span october , 2010 - sep, 2012
                    h3 master in computer sciences
                    h4 company name, morocco
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sit, fugiat quae dicta minima.
            .timeLineBox
                .timeLineContent.outerShadow
                    i.fas.fa-graduation-cap.icon
                    span august , 2008 - may , 2010
                    h3 full stack developer
                    h4 company name, morocco
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sit, fugiat quae dicta minima.
            .timeLineBox
                .timeLineContent.outerShadow
                    i.fas.fa-graduation-cap.icon
                    span april, 2006 - june , 2007
                    h3 web developper
                    h4 company name, morocco
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sit, fugiat quae dicta minima.
