section.homeSection
    .effect-wrap
        .effect-1.effect 
        .effect-2.effect
            -for(var i = 1 ; i <= 28 ; i++){
                div
            -}
        .effect-3.effect
        .effect-4.effect
        .effect-5.effect
            -for(var i = 1 ; i <= 15 ; i++){
                div
            -}
    .container
        .row.fullScreen.alignItemCenter
            .textBox
                p hello
                h1 i'm abdEl krim
                h2 web designer & devlopper
                a(href="").btn-1.outerShadow.hoverShadow more about me
            .homeImg
                .imgBox.innerShadow
                    img(src="img/profile-pic.png", alt="profile").
                    
