nav.navMenu
    .close_nav_menu.outerShadow.hoverShadow &times;
    .nav_menu_inner
        ul
            li: a(href="").innerShadow.active home
            li: a(href="").outerShadow.hoverShadow about
            li: a(href="").outerShadow.hoverShadow services
            li: a(href="").outerShadow.hoverShadow portfolio
            li: a(href="").outerShadow.hoverShadow testimonial
            li: a(href="").outerShadow.hoverShadow contact us
    p.copyRight &copy; 2020 abdEl krim