section.portFolio
    .container
        .row.sectionTitle
            h2(data-heading = "portfolio") latest works
        .row
            .portfolioFilters
                span.filterLabel.outerShadow.active(data-filter = "all") 
                    | all
                span.filterLabel(data-filter = "web_application") 
                    | web application
                span.filterLabel(data-filter = "photoshop") 
                    | photoshop
                span.filterLabel(data-filter = "mobileApp") 
                    | mobile app
                span.filterLabel(data-filter = "e-commerce") 
                    | e-commerce
        .row.portfolioBoxes
            .portfolioBox(data-target = "web_application") 
                .innerPortfolio.outerShadow
                    .imgPortfolio
                        img(src="img/portfolio/thumb/project-1.png", alt="" , data-screen="img/portfolio/large/project-1/1.png , img/portfolio/large/project-1/2.png , img/portfolio/large/project-1/3.png , img/portfolio/large/project-1/4.png , img/portfolio/large/project-1/5.png , img/portfolio/large/project-1/6.png " )
                        span: a(href="#").view view project
                    p.titleProjet personal portfolio
                    .portfolioDetails.row
                        .description
                            h3 project brief
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid a quam animi praesentium voluptates repellat explicabo, eum consequuntur suscipit tempore officia magni, ullam et.
                        .info
                            h3 project info
                            ul
                                li date -
                                    span 2019
                                li client -
                                    span x-man company
                                li tools - 
                                    span html , css , javaScript
                                li web -
                                    a(href="#") www.web-dev.com
            .portfolioBox(data-target = "photoshop")
                .innerPortfolio.outerShadow
                    .imgPortfolio
                        img(src="img/portfolio/thumb/project-2.png", alt="" , data-screen="img/portfolio/large/project-2/1.png , img/portfolio/large/project-2/2.png" )
                        span: a(href="#").view view project
                    p.titleProjet wedding couple
                    .portfolioDetails.row
                        .description
                            h3 project brief
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. tium voluptates repellat explicabo, eum consequuntur suscipit tempore officia magni.
                        .info
                            h3 project info
                            ul
                                li date -
                                    span 2020
                                li client -
                                    span x-man company
                                li tools - 
                                    span html , css , jquery , bootstrap
                                li web  -
                                    a(href="#") www.abdEl-web-dev.com
            .portfolioBox(data-target = "e-commerce")
                .innerPortfolio.outerShadow
                    .imgPortfolio
                        img(src="img/portfolio/thumb/project-3.png", alt="" , data-screen="img/portfolio/large/project-3/1.png , img/portfolio/large/project-3/2.png , img/portfolio/large/project-3/3.png , img/portfolio/large/project-3/4.png , img/portfolio/large/project-3/5.png" )
                        span: a(href="#").view view project
                    p.titleProjet product landing page
                    .portfolioDetails.row
                        .description
                            h3 project brief
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid a quam animi praesentium voluptates repellat explicabo.
                        .info
                            h3 project info
                            ul
                                li date -
                                    span 2020
                                li client -
                                    span x-man company
                                li tools - 
                                    span html , css , javaScript , bootstrap
                                li web 
                                    a(href="#") www.web-dev.com
            .portfolioBox(data-target = "web_application")
                .innerPortfolio.outerShadow
                    .imgPortfolio
                        img(src="img/portfolio/thumb/project-4.png", alt="" , data-screen="img/portfolio/large/project-4/1.png " )
                        span: a(href="#").view view project
                    p.titleProjet photographer
                    .portfolioDetails.row
                        .description
                            h3 project brief
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid a quam animi praesentium voluptates repellat explicabo, eum consequuntur suscipit tempore officia magni, ullam et. Quod unde.
                        .info
                            h3 project info
                            ul
                                li date -
                                    span 2020
                                li client -
                                    span x-man company
                                li tools - 
                                    span html , css , javaScript
                                li web 
                                    a(href="#") www.web-dev.com
            .portfolioBox(data-target = "photoshop")
                .innerPortfolio.outerShadow
                    .imgPortfolio
                        img(src="img/portfolio/thumb/project-5.png", alt="" , data-screen="img/portfolio/large/project-5/1.png " )
                        span: a(href="#").view view project
                    p.titleProjet fitness & gem
                    .portfolioDetails.row
                        .description
                            h3 project brief
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid a quam animi praesentium voluptates repellat explicabo, eum consequuntur suscipit tempore officia magni, ullam et. Quod unde illo corporis.
                        .info
                            h3 project info
                            ul
                                li date -
                                    span 2020
                                li client -
                                    span x-man company
                                li tools - 
                                    span html , css , jquery
                                li web 
                                    a(href="#") www.web-dev.com
            .portfolioBox(data-target = "web_application")
                .innerPortfolio.outerShadow
                    .imgPortfolio
                        img(src="img/portfolio/thumb/project-6.png", alt="" , data-screen="img/portfolio/large/project-6/1.png , img/portfolio/large/project-6/2.png , img/portfolio/large/project-6/3.png" )
                        span: a(href="#").view view project
                    p.titleProjet quiz app
                    .portfolioDetails.row
                        .description
                            h3 project brief
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid a quam animi praesentium voluptates repellat explicabo, eum consequuntur suscipit tempore officia magni, ullam et. Quod unde illo corporis ratione.
                        .info
                            h3 project info
                            ul
                                li date -
                                    span 2020
                                li client -
                                    span x-man company
                                li tools - 
                                    span html , css , javaScript
                                li web 
                                    a(href="#") www.web-dev.com
            .portfolioBox(data-target = "mobileApp")
                .innerPortfolio.outerShadow
                    .imgPortfolio
                        img(src="img/portfolio/thumb/project-7.png", alt="" , data-screen="img/portfolio/large/project-7/1.png , img/portfolio/large/project-7/2.png" )
                        span: a(href="#").view view project
                    p.titleProjet mobile app
                    .portfolioDetails.row
                        .description
                            h3 project brief
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid a quam animi praesentium voluptates repellat explicabo, Quod unde illo corporis ratione. eum consequuntur suscipit tempore officia magni, ulla
                        .info
                            h3 project info
                            ul
                                li date -
                                    span 2020
                                li client -
                                    span x-man company
                                li tools - 
                                    span html , css , javaScript
                                li web 
                                    a(href="#") www.web-dev.com
            .portfolioBox(data-target = "web_application")
                .innerPortfolio.outerShadow
                    .imgPortfolio
                        img(src="img/portfolio/thumb/project-8.png", alt="" , data-screen="img/portfolio/large/project-8/1.png , img/portfolio/large/project-8/2.png" )
                        span: a(href="#").view view project
                    p.titleProjet personal portfolio
                    .portfolioDetails.row
                        .description
                            h3 project brief
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid a quam animi praesentium voluptates repellat explicabo, eum consequuntur.
                        .info
                            h3 project info
                            ul
                                li date -
                                    span 2020
                                li client -
                                    span x-man company
                                li tools - 
                                    span html , css , javaScript
                                li web 
                                    a(href="#") www.web-dev.com
            .portfolioBox(data-target = "e-commerce")
                .innerPortfolio.outerShadow
                    .imgPortfolio
                        img(src="img/portfolio/thumb/project-9.png", alt="" , data-screen="img/portfolio/thumb/project-9.png" )
                        span: a(href="#").view view project
                    p.titleProjet product landing page
                    .portfolioDetails.row
                        .description
                            h3 project brief
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid a quam animi praesentium  magni, ullam et. Quod unde illo corporis ratione.
                        .info
                            h3 project info
                            ul
                                li date -
                                    span 2020
                                li client -
                                    span x-man company
                                li tools - 
                                    span html , css , javaScript
                                li web 
                                    a(href="#") www.web-dev.com


.popup.portfolio_popup
    .popupDetails
        .popupInner
            h2 personal portfolio
            p.pp_head_paragraph category - 
                span web application 
            .pp_portfolioDetails.row
                .description
                    h3 project brief
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquid um consequuntur suscipit tempore officia magni, ullam et. Quod unde illo corporis ratione. a quam animi praesentium voluptates repellat explicabo, e
                .info
                    h3 project info
                    ul
                        li date -
                            span 2020
                        li client -
                            span x-man company
                        li tools - 
                            span html , css , javaScript
                        li web -
                            a(href="#") www.web-dev.com
    .separator
    .main_popup
        .inner_popup
            .detail_btn.outerShadow.hoverShadow detail project 
                i.fas.fa-plus(style="margin-left:10px")
            .close_popup.outerShadow.hoverShadow &times;
            img(src="", alt="").img_popup.outerShadow
            .popup_counter 
            .prevArrow: i.fas.fa-caret-left.fa-5x
            .nextArrow: i.fas.fa-caret-right.fa-5x
        



