section.services
    .container
        .row.sectionTitle
            h2(data-heading = "services") what i do
        .row.servicesContent.spaceBetween
            .servicesBox
                .innerServices.outerShadow
                    .icon.innerShadow
                        i.fas.fa-mobile-alt
                    h3 responsive design
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, aut. Est exercitationem tempore esse numquam sapiente magni doloremque. Suscipit!
            .servicesBox
                .innerServices.outerShadow
                    .icon.innerShadow
                        i.fas.fa-laptop-code
                    h3 web design
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, aut. veniam illum aut ex ratione consequuntur magni, explicabo tempore praesentium necessitatibus. Porro laborum voluptatibus enim.
            .servicesBox
                .innerServices.outerShadow
                    .icon.innerShadow
                        i.fas.fa-palette
                    h3 graphic design
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio omnis soluta corporis, commodi ratione soluta.
            .servicesBox
                .innerServices.outerShadow
                    .icon.innerShadow
                        i.fas.fa-code
                    h3 clean code
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. hic eligendi qui voluptatem consequuntur ea architecto maxime earum magni?
            .servicesBox
                .innerServices.outerShadow
                    .icon.innerShadow
                        i.fas.fa-search
                    h3 seo marketing
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, aut. Mollitia fugit a facilis nobis magni. Iusto dolor libero consequatur voluptas deserunt.
            .servicesBox
                .innerServices.outerShadow
                    .icon.innerShadow
                        i.fas.fa-bullhorn
                    h3 great support
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. sed quis nihil, velit saepe rem optio quaerat placeat?
            